
version: '3.7'
services:
  frontend:
    image: node
    env_file:
      - ./dev.env
    command: yarn docker
    volumes:
      - ./client:/usr/src/app
    working_dir: /usr/src/app
    ports:
      - "80:3000"
    environment:
      HOST: 0.0.0.0
      FT_OAUTH_REDIRECT_URI: "http://localhost:3000/auth/login"
      FT_OAUTH_UID: "d73b8e0595edbca83bfbb2d40ae5d23cc10dc67454fc750da0619aff86c64b83"
  postgres: # https://medium.com/analytics-vidhya/getting-started-with-postgresql-using-docker-compose-34d6b808c47c
    image: postgres
    env_file:
      - ./dev.env
    volumes:
      - ./database:/var/lib/postgresql/data
     # - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5000:5432"
  pgadmin:
    image: dpage/pgadmin4
    #environment:
     # PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
     # PGADMIN_DEFAULT_PASSWORD: admin
     # PGADMIN_CONFIG_SERVER_MODE: 'False'
    env_file:
      - ./dev.env
    volumes:
      - pgadmin:/root/.pgadmin
    ports:
      - "5050:80"
    links:
      - "postgres:pgsql-server"
  server:
    build:
      context: ./server
      target: development
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      FT_OAUTH_UID: "d73b8e0595edbca83bfbb2d40ae5d23cc10dc67454fc750da0619aff86c64b83"
      FT_OAUTH_SECRET: "453abb9beb4823e60945a7f7b9352cd86495e7a63c5555d14e5743a6eb5d3f15"
    env_file:
      - ./dev.env
    ports:
      - 3000:3000
      - 9229:9229
    command: yarn docker
    depends_on:
      - postgres

volumes:
  database:
  pgadmin:
