
version: '3.7'
services:
  #frontend:
  #  image: node
  #  command: yarn docker
  #  volumes:
  #    - ./client:/usr/src/app
  #  working_dir: /usr/src/app
  #  ports:
  #    - "80:3000"
  #  environment:
  #    HOST: 0.0.0.0
  postgres: # https://medium.com/analytics-vidhya/getting-started-with-postgresql-using-docker-compose-34d6b808c47c
    image: postgres
    env_file:
      - ./dev.env
    volumes:
      - ./database:/var/lib/postgresql/data
    ports:
      - "5000:5432"
  pgadmin:
    image: dpage/pgadmin4
    #environment:
     # PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
     # PGADMIN_DEFAULT_PASSWORD: admin
     # PGADMIN_CONFIG_SERVER_MODE: 'False'
    env_file:
      - ./dev.env
    volumes:
      - pgadmin:/root/.pgadmin
    ports:
      - "5050:80"
    links:
      - "postgres:pgsql-server"
  server:
    build:
      context: ./server
      target: development
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - ./dev.env
    ports:
      - 3000:3000
      - 9229:9229
    command: npm run start:dev
    depends_on:
      - postgres

volumes:
  database:
  pgadmin:
